<br>

    <div class="container">
        <h2>Welcome, 
            {{#if posts2.login}}
                {{posts2.user}}
            {{else}}
                Guest
            {{/if}}
        </h2>
    </div>
<ol>    
    {{#each posts2.post as |post| }}
        <div class="container card">
            <div class="card-header">
                <a href="/singlePost/{{post.id}}">{{post.title}}</a>
            </div>
            <div class="card-body">
                <h4 class="card-text">{{post.description}}</h4>
                
            </div>            
        </div>
        <br>
    {{/each}}
</ol>